/*Estilos para Index*/
#navbar{
    background-color: rgb(32,55,109);
}
#boton_registro{
  background-color: rgb(205,8,123);
  font-family: 'Roboto Slab', serif;
}
.parallax-container {
    height: 600px;
  }
div.boton_registro {
    position: relative;
    top: 500px;
  }
  div.center {
    text-align: center;
  }
  .wrap-InfoTorneo{
    background-color: rgb(240, 238, 238);
    margin-left: 50px;
    margin-right: 50px;
  }
  .wrap-InfoTorneo_PaginaInicio{
    background-color: rgb(240, 238, 238);
    margin-left: 50px;
    margin-right: 50px;
  }
  .wrap-PatrocinadorTorneo{
    background-color: rgb(240, 238, 238);
    margin-left: 50px;
    margin-right: 50px;
  }
  .wrap-Info-Inscripcion{
    background-color: rgb(240, 238, 238);
    margin-left: 50px;
    margin-right: 50px;
  }
  .wrap-RegistroTorneo{
    margin-left: 50px;
    margin-right: 50px;
  }
  .video-container{
    margin-top: 40px;
  }
  .diagonal{
    background-color: white;
    clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
    height: 650px;
    width: 350px;
    position: relative;
    bottom: 55px;
  }
  #poster_oficial{
    height: 150%;
    width: 150%;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
  }
  #poster_oficial_pagina_principal{
    height: 100%;
    width: 100%;  
    margin-left: 50px;
  }
  .logo_mariaGoretti{
    height: 29%;
    width: 20%;
    position: absolute;
    float: left;
    top: 100px;
    left: 70px;
  }
  .titulo_torneo{
    color: snow;
    float: left;
    position: relative;
    left: 350px;
  }
  .info_torneo{
    font-size: 23px;
  }
  .galeria{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;

  }
  .galeria .imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgb(0,0,0,.75);
  }
  .imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Utilizados para la interfaz del Organizador*/
#actividades{
  margin-top: 100px;
  margin-bottom: 30px;
}

#botones{
  background-color: rgb(205,8,123);
}

i.icon-blue {
    color: rgb(32, 55, 109);
}
/* Utilizados para la interfaz del Organizador*/

#page-footer{
  background-color:rgb(32,55,109);
}
#footer-copyright{
  background-color: rgb(32,55,109);
}
#icon_footer{
  float: left;
}
/*Registro al torneo*/
#formaFacturacion{
  display: none;
}
#formacargoTarjeta{
  display: none;
}
.carousel .patrocinador .carousel-item {
  width:300px !important;}
  
  .tabs .tab a {
    color: black;
    /*Custom Text Color*/
  }
  
  .tabs .tab a:hover {
    color: black;
    /*Custom Color On Hover*/
  }
  
  .tabs .tab a:focus.active {
    color: black;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
  }
  
  .tabs .indicator {
    color: black;
    background-color:rgb(32,55,109);
    /*Custom Color Of Indicator*/
  }
  .tabs .tab a.active {
    background-color:rgb(143, 209, 240);
    color:#000;
}
.wrap-RegistroPatrocinador{
  height: 600px;
  margin-bottom: 50px;
}
.wrap-InformacionUsuario{
  height: 600px;
  margin-bottom: 50px;
}
#estatus_inscripcion{
  
}

.box{
  width: 100%;
  height: 100%;
  background-size: cover; 
  background: rgba(0,0,0,.5);
  color: #fff;
  top: 55%;
  left: 50%;
  position: fixed;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 50px 40px;
 }



 .login-box{
  width: 420px;
  height: 420px;
  background: rgba(0,0,0,.8);
  color: #fff;
  top: 55%;
  left: 50%;
  position: fixed;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 50px 40px;
 }
.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  top:-50px;
  left: calc(50% - 50px);
}

.close{
  width: 50px;
  height: 50px;
  
  position: relative;
  top:-183px;
  left: 93% ;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.inicio{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

.login-box label{
  margin: 0;
  padding: 0;
  font-size: 15px;
 }

 .login-box input{
  width: 100%;
  margin-bottom: 20px;
 }

 .login-box input[type="text"],input[type="password"]{
  color: #fff;
  font-size: 20px;
 }

 .login-box input[type="submit"]
{
    height: 40px;
    color: #fff;
    font-size: 18px;
}
#infomracion-administrativa{
  height: 120px;
}
#pago-paypal{
  height:400px;
}
#cargo-tarjeta{
  height:400px;
}

#botonesA{
  background-color: rgb(32,55,109);
}

.tg  {border:none;border-collapse:collapse;border-spacing:0;width:80%;}
.tg td{border-style:solid;border-width:0px;font-size:20px;overflow:hidden;font-weight: bold;
  padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-size:20px;font-weight:bold;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-prem:hover {background-color: #f5f5f5;}
.tg .tg-baqh{text-align:center;vertical-align:top white-space: nowrap;}
.tg .tg-xwyw{text-align:center;vertical-align:middle}
.tg .tg-73oq{text-align:center;vertical-align:middle}
.wrap-crearEquipo{
  height: 700px;
  margin-top: 50px;
}
.tablaParticipantes{
  height: 450px;
  width: auto;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
#campoJugadorEquipo{
 height: 60px;
 padding-top: 20px;
 padding-bottom: 20px;
}
#campoJugadorEquipoBoton{
  margin-bottom: 20px;

 }
