	</div>
	<div class="divider"></div>
	    <div class="section">
	      <h5><strong>¿Por qué es una buena práctica separar el controlador de la vista?</strong></h5>
	      <p>Debido a que es un patrón de diseño comprobado el cual permite un desarrollo rápido de la aplicación web y permite un trabajo en conjunto eficiente.</p>
	    </div>
	    <div class="divider"></div>
	    <div class="section">
	      <h5><strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</strong></h5>
	      <p>$Globals: Hace referencia a todas las variables disponibles en el ámbito global.<br>
	      $_SERVER: Tiene cabeceras, rutas y ubicaciones del script. <br>
	      $_FILES: Un array de elementos subidos al script en curso a través del método POST<br>
	      $_REQUEST: Contiene el contenido de $_GET, $_POST y $_COOKIE.<br>
	      $_COOKIE: Array asociativo de variables pasadas al script actual a través de Cookies HTTP.<br>
	      $_SESSION: Cuenta con las variables de sesión que están disponibles en el script actual. <br>
	      $_ENV: Variables de entorno.
	      </p>
	    </div>
	    <div class="divider"></div>
	    <div class="section">
	      <h5><strong>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</strong></h5>
	      <p>DateTime::setDate - Establece la fecha.<br>
	      Event::set - Re-configures event.</p>
	    </div>
	    <div class="divider"></div>
	    <div class="section">
	      <h5><strong>¿Qué es XSS y cómo se puede prevenir?</strong></h5>
	      <p>Es una vulnerabilidad en las paginas web, la cual permite a los atacantes inyectar codigos de JS o algún lenguaje similar. Una línea de defensa debe ser el programador de las aplicaciones web, que debe filtrar las entradas de usuario para evitar que se introduzcan secuencias de caracteres escritas en HTML o JavaScript, usando funciones como htmlspecialchars(), htmlentities() y strip_tags() del lenguaje PHP.</p>
	    </div>
	    <div class="divider"></div>
	    <div class="section">
	      <h5>Referencias</h5>
	      <p>https://www.php.net/manual/es/reserved.variables.environment.php<br>
	      	https://www.php.net/manual/es/indexes.functions.php<br>
	     	https://blogs.imf-formacion.com/blog/tecnologia/xss-que-es-y-como-funciona-201805/</p>
	    </div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>