<div class="row">
    <form class="col s12" action="cine.php" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Ejemplo" id="nombre" name="nombre" type="text" class="validate" required>
          <label for="first_name">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
         <input placeholder="4426875962" id="telefono" name="telefono" type="number" class="validate" required max="10000000000" min="1000000000">
          <label for="telefono">Teléfono</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="90" id="promedio" name="promedio" type="number" class="validate" required max="100" min="0">
          <label for="promedio">Promedio</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <input class="btn red" type="submit" value="Enviar!">
          </div>
        </div>
      </div>
    </form>