<!--
<form method="POST" action="controlador_insertar_caso.php" >
    <?=crear_select("id", "nombre", "heroe");?>
    <?=crear_select("id", "nombre", "pelicula");?>
        <input class="waves-effect waves-light btn" type="submit" value="Registrar">
</form>
-->
<?php if(isset($editar)): ?>
    <form method="POST" action="controlador_actualizar_caso.php">
        <?php else: ?>
            <form method="POST" action="controlador_insertar_caso.php">
                <?php endif; ?>

                    <?php if(isset($editar)): ?>
                        <input type="hidden" name="caso_id" value="<?=$caso_id?>">
                        <?php endif; ?>
                            <?php if(isset($heroe_id)): ?>
                                <?=crear_select("id", "nombre", "heroe", $heroe_id);?>
                                    <?php else: ?>
                                        <?=crear_select("id", "nombre", "heroe");?>
                                        <?=crear_select("id", "nombre", "pelicula");?>
                                            <?php endif; ?>
                                                <input class="waves-effect waves-light btn" type="submit" value="Registrar">
            </form>