<a href="../index.php" class="brand-logo center">Seleccionar torneo</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a  href="pagina-principal.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
    <li><a href="pagina-principal.php">Menu</a></li>
  </ul>
    </div>
  </nav>
  <br>

    <div class=" container">

       
        <div class="section">
            <div class="row">
                <div class="col s7">
                    <h4>Torneos</h4>

        <h6>Haz clic en editar para ver la información completa de cada torneo</h6>
                </div>
            </div>
        </div>
