<a href="index.php" class="brand-logo center">Nuevo Premio</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<li><a href="editarTorneo.php"><i class="large material-icons">keyboard_backspace</i></a></li>
<li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>
<div class="row col s12">
<div class="container">
    <div class="row">
      <h3 align="center">Agregar nuevo premio</h3>
    </div>

  <div class="container" id="formaAgregarPremio">
    <div class="row" >
      <div class="input-field col s12">
          <!-- Lo mandas al model php y le pides la función getPpciones -->
          <?= getOpciones('idTorneo', 'nombre', 'torneo') ?>
                </div>
      <div class="input-field col s12">
        <select id="tipoPremio" name="tipoPremio">
              <option selected value="" disabled selected>Selecciona un tipo de premio</option>
              <option value="O'Yes">O'Yes</option>
              <option value="Hole-in-one">Hole-in-one</option>
              <option value="Por equipo">Por equipo</option>
          </select>
        <label for="tipoPremio">Premio</label>
      </div>  
      <ul>
              <div class="input-field col s12">
                 <li class="collection-item"><span class="title"><label for="descripcionAgregar">Descripción</label></span>
                    <div><input id="descripcionAgregar" type="text" placeholder="Ej. televisión Pear 20''" maxlength="50"></div>
                </li> 
              </div> 
              <div class="input-field col s12">
                  <li class="collection-item"><span class="title"><label for="posicionAgregar">Posición</label></span>
                      <div><input id="posicionAgregar" type="text"  placeholder="Ej. 3ro" maxlength="20"></div>
                  </li>
              </div> 
              <div class="input-field col s12">
                    <li class="collection-item"><span class="title"><label for="hoyoAgregar">Hoyo</label></span>
                        <div><input id="hoyoAgregar" type="number" placeholder="15" max="30" min="1"></div>
                    </li>
              </div>   
      </ul>
    </div>
                <div class="row" style="display: block;">
              <div class="col s12" align="center" id="encabezadoMensajeOrganizador" style="color: #ff4d4d" >
              </div>
            </div>
            <div class="row center">
              <button id="agregarPremio" class="btn waves-effect waves-light btn-large pink">Agregar
                <i class="material-icons right">save</i>
              </button>
            </div>     
  </div>       
  </div>


 <div class="container center-align" id="circuloCarga_agregarPremio" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
          </div>
        </div>
      </div>
        <br>
        <br>
        <br>
  </div>


    <div class="container" id="mensajeAgregarPremio" style="display: none;">

      <div class="row">

        <div class="col s12" align="center">
          <div>
          <h3 align="center" id="tituloAgregarPremio">Se registraron exitosamente los cambios para este premio</h3>
          <i class="medium material-icons" id="iconoRespuesta">check_box</i>
          </div>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="consultapremio.php" class="btn " id="botones">Ver todos los premios 
            <i class="large material-icons right">keyboard_return</i>
          </a>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="agregar_premio.php" class="btn " id="botones">Agregar otro premio 
            <i class="large material-icons right">edit</i>
          </a>
        </div>

      </div>

    </div>

