<a href="../index.php" class="brand-logo center">Consultar Equipos</a>
</div>
</nav>
<div class="wrap-crearEquipo container">
    
    <div class="row" id="formaEquipoConsulta">
        <h3>Equipos registrados al torneo</h3>
        <div class="col s12">
            <div class="input-field col s8 grey lighten-2 z-depth-2">
                <i class="material-icons prefix">search</i>
                <input placeholder="Buscar" type="text" class="validate" onkeyup="leerConsultaEquipo()" id="caja_busquedaConsulta">
            </div>
            <div class="col s2"></div>
            <div class="input-field col s2 ">
                <a class="btn-floating btn-large waves-effect waves-light red z-depth-2" href="crearEquipos.php" ><i class="material-icons">group_add</i></a>
            </div>
            <br>
            <div class="tablaParticipantes col s12" id="tablaParticipantesConsulta">
                <?php
                echo consultar_casosEquipoConsulta("");
                ?>
            </div>
        </div>
    </div>
    <div class="container center-align" id="circuloCarga_InscipcionEquipo" style="display: none;">
        <br>
        <br>
        <br>
        <br>
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>