<a href="../index.php" class="brand-logo center">Crear Equipos</a>
</div>
</nav>
<div class="wrap-crearEquipo">
    <div class="row" id="formaEquipo">
        <div class="col s8">
            <div class="input-field col s12 grey lighten-2">
                <i class="material-icons prefix">search</i>
                <input placeholder="Buscar" type="text" class="validate" onkeyup="leerConsulta()" id="caja_busqueda">
            </div>

            <br>
            <div class="tablaParticipantes col s12" id="tablaParticipantes">
              <?php
              echo consultar_casosEquipoTR("");
              ?>
            </div>
        </div>
        <div class="col s3 center-align">
            <ul class="collection with-header  z-depth-3">
                <li class="collection-header">
                    <div class="row">
                        <div class="col s6">
                            <h4>Equipo</h4>
                            <div class="input-field col s12">
                                <input id="hoyoInicial" type="number" class="validate" min="0">
                                <label for="hoyoInicial">Hoyo inicial</label>
                              </div>
                        </div>
                        <div class="col s1"></div>
                        <div class="col s5">
                            <div class="col s6 right-align right-align">
                                <br>
                                <br>
                                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger pink darken-1" href="#modal1" onclick="validarEquipo()"><i class="material-icons">playlist_add</i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <div id="integrantesEquipoTexto" onload="leerConsulta()">

                </div>
            </ul>
        </div>
    </div>
    <div class="container center-align" id="circuloCarga_InscipcionEquipo" style="display: none;">
        <br>
        <br>
        <br>
        <br>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
      <div class="container" id="mensajeEquipo" style="display: none;">
        <div class="row">
      
          <div class="col s12 center-align">
      
            <h5 class="center-align" id="titulo">Equipo registrado con exito</h5>
      
            <br>
            <br>
            <h6 class="center-align" id="subtitulo"></h6>
            <br>
            <br>
            <h6 id="confirmacion">-El equipo a quedado registrado en el torneo-</h5>
              <h6 id="confirmacion2"></h6>
              <br>
              <br>
          </div>
      
          <div class="row center-align container">
            <br>
            <br>
            <div class="col s6">
              <a href="InterfazOrg.php" class="btn " id="botones">Regresar al menú de organizador
                <i class="large material-icons right">keyboard_return</i>
              </a>
            </div>
            <div class="col s6">
              <a href="crearEquipos.php" class="btn " id="botones">Registrar otro equipo
                <i class="large material-icons right">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
</div>

<div id="modal1" class="modal center-align">
    <div class="modal-content">
      <h6 class="center-align" id="registro">¿Confirmar equipo?</h6>
      <div id="contenidoConfirmacion" class="center-align">
        <br>
        <p id="textoConfirmar">Presione confirmar para realizar la inscripcion</p>
      </div>
    </div>
    <br>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align"
      id="registrarEquipo" onclick="registrarEquipo()">Confirmar</a>
    <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align">Cancelar</a>
    <div class="modal-footer center-align">
    </div>
  </div>