    </div>
    <footer class="page-footer" id="page-footer">
      <div class="container" >
        <div class="row">
          <div class="col s4">
            <h4 class="white-text"><i class="medium material-icons prefix">contacts</i>Contacto</h4>
            <div class="row">
              <ul>
                <li><a class="grey-text text-lighten-3" href="mailto:casamariagoretti@hotmail.com"><i class="small material-icons prefix">mail</i>casamariagoretti@hotmail.com</a></li>
                <li><a class="grey-text text-lighten-3" href="mailto:lourdesaer@gmail.com"><i class="small material-icons prefix">mail</i>lourdesaer@gmail.com</a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="small material-icons prefix">phone</i>442-369-1329</a></li>
              </ul>  
            </div>
          </div>
          <div class="col s4 center">
            <div class="card">
              <div class="card-image center">
                <img src="../src/img/Logo_MariaGoretti.png"><br>
              </div>
            </div>
            <a class="grey-text text-lighten-3" href="aviso_privacidad.php"><i class="small material-icons prefix">people</i>Aviso de privacidad</a>
          </div>
          <div class="col s4">
            <h4 class="white-text"><i class="medium material-icons prefix">contacts</i>Conócenos</h4>
            <ul>       
              <li><a class="grey-text text-lighten-3" href="http://www.hogaresfaustinollamas.org/cmg/"><i class="small material-icons prefix">web</i>Pagina Web</a></li>       
              <li><a class="grey-text text-lighten-3" href="#!"><i class="small material-icons prefix">people</i>Casa María Goretti QRO</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"><i class="small material-icons prefix">place</i>Dirección</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="footer-copyright">
        <div class="footer-copyright">
          <div class="container">
            © 2020 Copyright Casa María Goretti IAP. Derechos Reservados.
            <a class="grey-text text-lighten-4 right" href="#!"></a>
          </div>
        </div>
      </div>
    </footer>
    <!--  Scripts-->
    <!-- opciones de barra de navegacion de movil-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../src/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="../src/ajax.js"></script>
    <script type="text/javascript" src="../src/inscripcion.js"></script>
    <script type="text/javascript" src="../src/registroDinamico.js"></script>
    <script type="text/javascript" src="../src/inicializacion.js"></script>
    <script type="text/javascript" src="../src/editarDatos.js"></script>
    <script type="text/javascript" src="../src/editarDatosUsuario.js"></script>
    <script type="text/javascript" src="../src/tabContinuar.js"></script>
    <script src="../src/materialize/js/init.js"></script>
    <script src="../src/scriptSecundario.js"> </script>
    <script type="text/javascript" src="../src/Ajax_Patrocinadores.js"></script>
    <script type="text/javascript" src="../src/Ajax_Revisar_Patrocinadores.js"></script>
    <script type="text/javascript" src="../src/Patrocinadores.js"></script>
    <script type="text/javascript" src="../src/Ajax_Ver_Patrocinadores.js"></script>
    <script type="text/javascript" src="../src/Ajax_Consultar_Registros.js"></script>
    <script type="text/javascript" src="../src/Cancelar_usuario.js"></script>
    <script type="text/javascript" src="../src/Cancelar_usuarioOrg.js"></script>
    <script type="text/javascript" src="../src/crearEquipo.js"></script>
    <script type="text/javascript" src="../src/Ajax_editarPremios.js"></script>
    <script type="text/javascript" src="../src/ajax_consultar_premios.js"></script>
    <script type="text/javascript" src="../src/consultarEquipos.js"></script>
    <script type="text/javascript" src="../src/editarEquipos.js"></script>
    <script type="text/javascript" src="../src/ajax_editarTorneo.js"></script>

    <!--scripts para el Login 
    <script src="../src/jquery-3.3.1.min.js"></script>-->
    <script src="../src/main.js"></script>
    <!--CAPTCHA -->
    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
    <script>
      $(document).ready(function(){
         M.AutoInit();
       });
    </script>
</body>
</html>