<a href="../index.php" class="brand-logo center">Informacion de inscripción</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a  href="pagina-principal.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
    <li><a href="pagina-principal.php">Menu</a></li>
  </ul>
    </div>
  </nav>
  <br>
  <br>

    <div class=" container">

       
        <div class="section">
            <div class="row">
                <div class="col s6">
                    <h4>Registros</h4>
                </div>
            </div>
        </div>
        