<a href="../index.php" class="brand-logo center">Inscripción a torneo 2020</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</nav>
<br>
<br>

<div class="container" id="forma">
  <div class="row">

    <div class="col s12">
      <ul class="tabs" id="tabs">
        <li class="tab col s2"><a class="active" href="#test1"><i class="small material-icons">account_circle</i></a>
        </li>
        <li class="tab col s2"><a href="#test2"><i class="small material-icons">golf_course</i></a></li>
        <li class="tab col s2"><a href="#test3"><i class="small material-icons">content_paste</i></a></li>
        <li class="tab col s2" style="display: none;" id="formaCargoTarjeta"><a href="#test4"><i
              class="small material-icons">credit_card</i></a></li>
        <li class="tab col s2" style="display: none;" id="formaFacturacion"><a href="#test5"><i
              class="small material-icons">dvr</i></a></li>
        <li class="tab col s2"><a href="#test6"><i class="small material-icons">attach_money</i></a></li>
      </ul>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div id="test1">
        <h5>Datos Personales:</h5>
        <br>
        <h6>Nombre Completo*</h6>
        <div id="textoNombre" class="red-text" style="display: none;"></div>
        <div class="input-field col s4">
          <i class=" large material-icons prefix">person_outline</i>
          <input placeholder="Nombre" id="nombre" type="text" class="validate" maxlength="20" required>
          <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
        </div>
        <div class="input-field col s4">
          <input placeholder="Apellido Paterno" id="apellidoPaterno" type="text" class="validate" maxlength="20"
            required>
          <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
        </div>
        <div class="input-field col s4">
          <input placeholder="Apellido Materno" id="apellidoMaterno" type="text" class="validate" maxlength="20"
            required>
          <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
        </div>
        <h6>Sexo*</h6>
        <div id="textoSexo" class="red-text" style="display:none;"></div>
        <p>
          <label>
            <input id="sexo" name="sexo" value="Hombre" type="radio" required />
            <span>Hombre</span>
          </label>
        </p>
        <p>
          <label>
            <input id="sexo" name="sexo" value="Mujer" type="radio" required />
            <span>Mujer</span>
          </label>
        </p>
        <h6>Edad*</h6>
        <div id="textoEdad" class="red-text" style="display:none;"></div>
        <div class="input-field col s12">
          <i class=" large material-icons prefix">person_outline</i>
          <input placeholder="Edad" id="edad" type="number" class="validate" min="1" max="110" required>
          <span class="helper-text" data-error="" data-success="Correcto"></span>
        </div>
        <h6>Teléfono*</h6>
        <div id="textoTelefono" class="red-text" style="display:none;"></div>
        <div class="input-field col s12">
          <i class=" large material-icons prefix">person_outline</i>
          <input placeholder="4422222211" minlength="10" maxlength="10" id="telefono" type="text" class="validate"
            required>
          <span class="helper-text" data-error="Número de digitos incorrecto" data-success="Correcto"></span>
        </div>
        <h6>Correo electrónico*</h6>
        <div id="textoCorreo" class="red-text" style="display:none;"></div>
        <div class="input-field col s12">
          <i class=" large material-icons prefix">person_outline</i>
          <input placeholder="ejemplo@gmail.com" id="email" type="email" maxlength="50" class="validate" required>
          <span class="helper-text" data-error="Formato erroneo" data-success="Correcto"></span>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s6 left-align">

          </div>
          <div class="col s6 right-align">
            <a class="btn  pink darken-1" id="test1Continue" onclick="validarDatosPersonales()">Siguiente
              <i class="large material-icons right">arrow_forward</i>
            </a>
          </div>
        </div>

      </div>

      <div id="test2">
        <h5>Datos de Juego:</h5>
        <br>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="col s6">

                <h6>Handicap*</h6>
                <div id="textoHandicap" class="red-text" style="display:none;"></div>
                <div class="input-field col s4">
                  <i class=" large material-icons prefix">person_outline</i>
                  <input step="0.1" placeholder="10" id="handicap" type="number" class="validate" min="0" max="36"
                    required>
                  <span class="helper-text" data-error="Handicap invalido" data-success="Correcto"></span>
                </div>
              </div>
              <div id="mensajeHandicap" class="col s6">
                <div class="col s12 m12">
                  <div class="card-panel grey lighten-2">
                    <span class="">El handicap de define como : Número de golpes que un jugador amateur necesita para
                      realizar un recorrido, respecto al número de golpes estipulados (par de campo).
                    </span>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="col s12">
            <h6>Indicaciones Especiales</h6>
            <p>En el siguiente parrafo puedes colocar cualquier tipo de acuestion extra ya sea:</p>
            <li>Problemas medicos.</li>
            <li>Preferencias de registro de equipo (En este caso anotar los nombres de los participantes en
              cuestion.<br>AVISO: las preferencias son tentativas, los organizadores son los que aignan los equipos.)
            </li>
            <li>Cualquier tipo de preferencia.</li>
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea placeholder="Indicacion especial" id="indicacion_especial" class="materialize-textarea"
                maxlength="200"></textarea>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s6 left-align">
            <a class="btn  pink darken-1" id="test2Back">Anterior
              <i class="large material-icons left">arrow_back</i>
            </a>
          </div>
          <div class="col s6 right-align">
            <a class="btn  pink darken-1" id="test2Continue" onclick="validarDatosJuego()">Siguiente
              <i class="large material-icons right">arrow_forward</i>
            </a>
          </div>
        </div>

      </div>

      <div id="test3">
        <div class="col s7">
          <h5>Datos Administrativos:</h5>
          <br>
          <div class="col s12">
            <h6>Metodo de Pago</h6>
            <div id="textoMetodoPago" class="red-text" style="display:none;"></div>
            <p>
              <label>
                <input id="metodoPago" name="metodoPago" value="Transferencia electrónica" type="radio"
                  onclick="mostarDatosCargoTarjeta(0)" required />
                <span>Transferencia Electrónica</span>
              </label>
            </p>
            <p>
              <label>
                <input id="metodoPago" name="metodoPago" value="Depósito en efectivo" type="radio"
                  onclick="mostarDatosCargoTarjeta(0)" required />
                <span>Depósito en efectivo</span>
              </label>
            </p>
            <p>
              <label>
                <input id="metodoPago" name="metodoPago" value="Cargo a tarjeta de crédito" type="radio"
                  onclick="mostarDatosCargoTarjeta(1)" required />
                <span>Cargo a tarjeta de crédito</span>
              </label>
            </p>
            <p>
              <label>
                <input id="metodoPago" name="metodoPago" value="Pago en efectivo previo al evento" type="radio"
                  onclick="mostarDatosCargoTarjeta(0)" required />
                <span>Pago en efectivo previo al evento</span>
              </label>
            </p>
            <p>
              <label>
                <input id="metodoPago" name="metodoPago" value="Pago en efectivo el día del evento" type="radio"
                  onclick="mostarDatosCargoTarjeta(0)" required />
                <span>Pago en efectivo el día del evento</span>
              </label>
            </p>
          </div>
          <div class="cols12">
            <h6>¿Requiere recibo deducible de impuestos?</h6>
            <div id="textoRecibo" class="red-text" style="display:none;"></div>
            <p>
              <label>
                <input id="facturacion" name="factura" value="Sí" type="radio" onclick="mostrarDatosFactura(1);"
                  required />
                <span>Sí</span>
              </label>
            </p>
            <p>
              <label>
                <input id="facturacion" name="factura" value="No" type="radio" onclick="mostrarDatosFactura(0);"
                  required />
                <span>No</span>
              </label>
            </p>
          </div>
          <div class="col s12">
            <h6>¿Autorizas que se publiquen tus fotos del evento en las redes sociales de la institución?</h6>
            <div id="textoFotos" class="red-text" style="display:none;"></div>
            <p>
              <label>
                <input id="autorizarFotos" name="autorizarFotos" value="Sí" type="radio" required />
                <span>Sí</span>
              </label>
            </p>
            <p>
              <label>
                <input id="autorizarFotos" name="autorizarFotos" value="No" type="radio" required />
                <span>No</span>
              </label>
            </p>
          </div>
        </div>
        <?php echo mostrarInfoAdministrativa();?>
        <div class="row">
          <div class="col s6 left-align">
            <br>
            <br>
            <a class="btn  pink darken-1" id="test3Back" onclick="actualizarTab(3)">Anterior
              <i class="large material-icons left">arrow_back</i>
            </a>
          </div>
          <div class="col s6 right-align">
            <br>
            <br>
            <a class="btn  pink darken-1" id="test3Continue" onclick="actualizarTab(3), validarDatosAdministrativos()">Siguiente
              <i class="large material-icons right">arrow_forward</i>
            </a>
          </div>
        </div>
      </div>

      <div id="test4">
        <div class="col s12 center-align">
          <div class="row">
            <div class="col s5 grey lighten-1 z-depth-2" id="cargo-tarjeta">
              <br>
              <h4>Cargo a tarjeta de crédito</h4>
              <p>Si deseas que se realize un cargo a tu tarjeta de crédito, manda los siguientes datos a el correo:
                lourdesaer@gmail.com</p>
              <li>Nombre completo del propetario de la tarjeta</li>
              <li>Numero de tarjeta</li>
              <li>Mes y Año de vencimiento</li>
            </div>
            <div class="col s2">

            </div>
            <div class="col s5 grey lighten-1 z-depth-2" id="pago-paypal">
              <br>
              <h4>Pago por PayPal</h4>
              <p>Entra inicia sesion, o registra una cuenta, llena los datos y ¡Listo! te llegara un correo con el
                recibo de pago el cual deberas subir ya sea al terminar tu registro o en cualquier otro momento.</p>
              <br>
              
              <br>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6 left-align">
            <br>
            <br>
            <a class="btn  pink darken-1" id="test4Back" onclick="actualizarTab(-4)">Anterior
              <i class="large material-icons left">arrow_back</i>
            </a>
          </div>
          <div class="col s6 right-align">
            <br>
            <br>
            <a class="btn  pink darken-1" id="test4Continue" onclick="actualizarTab(4)">Siguiente
              <i class="large material-icons right">arrow_forward</i>
            </a>
          </div>
        </div>
      </div>

      <div id="test5">
        <h5>Datos de Facturación:</h5>
        <br>
        <div class="row">
          <div class="col s12">
            <h6>Razón Social*</h6>
            <div id="textoRazonSocial" class="red-text" style="display:none;"></div>
            <div class="input-field col s4">
              <i class=" large material-icons prefix">person_outline</i>
              <input placeholder="Razón Social" id="facturacion_razonSocial" type="text" class="validate"
                maxlength="50">
              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
            </div>
          </div>
          <div class="col s12">
            <h6>RFC*</h6>
            <div id="textoRFC" class="red-text" style="display:none;"></div>
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <input placeholder="RFC" id="facturacion_RFC" type="text" class="validate" minlength="12" maxlength="13">
              <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
            </div>
          </div>
          <div class="col s12">
            <h6>Dirección Fiscal</h6>
            <div id="textoFiscal" class="red-text" style="display:none;"></div>
            <div class="container">
              <div class="row">
                <div class="col s12">
                  Calle*
                  <div id="textoCalle" class="red-text" style="display:none;"></div>
                  <div class="input-field inline">
                    <input id="facturacion_calle" type="text" class="validate" maxlength="50">
                    <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                  </div>
                </div>
                <div class="col s6">
                  No. exterior*
                  <div id="textoNumExt" class="red-text" style="display:none;"></div>
                  <div class="input-field inline">
                    <input id="facturacion_noExterior" type="text" class="validate" maxlength="5">
                    <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                  </div>
                </div>
                <div class="col s6">
                  No. interior
                  <div class="input-field inline">
                    <input id="facturacion_noInterior" type="text" class="validate" maxlength="5">
                    <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                  </div>
                </div>
                <div class="col s12">
                  Colonia*
                  <div id="textoColonia" class="red-text" style="display:none;"></div>
                  <div class="input-field inline">
                    <input id="facturacion_colonia" type="text" class="validate" maxlength="50">
                    <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                  </div>
                </div>
                <div class="col s6">
                  Ciudad*
                  <div id="textoCiudad" class="red-text" style="display:none;"></div>
                  <div class="input-field inline">
                    <input id="facturacion_ciudad" type="text" class="validate" maxlength="50">
                    <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                  </div>
                </div>
                <div class="col s6">
                  Estado*
                  <div id="textoEstado" class="red-text" style="display:none;"></div>
                  <div class="input-field inline">
                    <input id="facturacion_estado" type="text" class="validate" maxlength="50">
                    <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                  </div>
                </div>
                <div class="col s12">
                  Código Postal*
                  <div id="textoCP" class="red-text" style="display:none;"></div>
                  <div class="input-field inline">
                    <input id="facturacion_CP" type="text" class="validate" maxlength="5">
                    <span class="helper-text" data-error="Revisar información" data-success="Correcto"></span>
                  </div>
                </div>
              </div>
            </div>
            <h6>Indicaciones Especiales de facturacion</h6>
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea placeholder="Aqui puedes anotar cualquier indicaciones especial sobre la facturación"
                id="indicacion_especial_facturacion" class="materialize-textarea" maxlength="200"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6 left-align">
            <a class="btn  pink darken-1" id="test5Back" onclick="actualizarTab(-5)">Anterior
              <i class="large material-icons left">earrow_back</i>
            </a>
          </div>
          <div class="col s6 right-align">
            <a class="btn  pink darken-1" id="test5Continue" onclick="actualizarTab(5),validarDatosFacturacion()">Siguiente
              <i class="large material-icons right">arrow_forward</i>
            </a>
          </div>
        </div>
      </div>

      <div id="test6">
        <div class="grey lighten-2 z-depth-2" id="informacion-pago">
          <h5>Inscripción al torneo</h5>
          <p class="flow-text">Al presionar confirmar tu inscripción quedara se realizara, recuerda que puedes consultar
            el estado de tus inscripción y editar tus datos en cualquier momento.</p>
          <p class="flow-text">En cuanto el pago se vea reflejado y sea confirmado por un organizador quedara completa
            tu inscripción.</p>
          <p class="flow-text">Si tu pago cubre el de otras personas favor de indicar sus nombres en la casilla de
            Indicaciones especiales que se encuentra abajo.</p>
        </div>
        <h6>Recibo de Pago</h6>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input id="recibo_archivo" type="file">
          </div>
          <div class="file-path-wrapper">
            <input id="recibo_nombreArchivo" class="file-path validate" type="text">
          </div>
        </div>
        <h6>Indicaciones Especiales de pago</h6>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea placeholder="Aqui puedes anotar cualquier indicaciones especial sobre pago"
            id="indicacion_especial_pago" class="materialize-textarea"></textarea>
        </div>

        <div id="modal1" class="modal center-align">
          <div class="modal-content">
            <h6 class="center-align" id="registro">¿Confirmar inscripción?</h6>
            <div id="contenidoConfirmacion" class="left-align">
              <br>
              <p id="textoConfirmar">Presione confirmar para realizar la inscripcion</p>
            </div>
          </div>
          <br>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align"
            id="registrarInscripcion">Confirmar</a>
          <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align">Cancelar</a>
          <div class="modal-footer center-align">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s6 left-align">
            <a class="btn  pink darken-1" id="test6Back" onclick="actualizarTab(6)">Anterior
              <i class="large material-icons left">arrow_back</i>
            </a>
          </div>
          <div class="col s6 right-align">
            <a class="btn  pink darken-1 modal-trigger" href="#modal1" id="registrar">Registrar Inscripcion
              <i class="large material-icons rigth">save</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container center-align" id="circuloCarga_InscipcionTorneo" style="display: none;">
  <br>
  <br>
  <br>
  <br>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<div class="container" id="mensaje" style="display: none;">
  <div class="row">

    <div class="col s12 center-align">

      <h5 class="center-align" id="titulo">¡Gracias por su apoyo!</h5>

      <br>
      <br>
      <h6 class="center-align" id="subtitulo">Con su donativo apoya a brindar educación y una vida digna a las niñas,
        jóvenes y adolescente con
        discapacidad intelectual que viven en Casa María Goretti IAP</h6>
      <br>
      <br>
      <h6 id="confirmacion">-Su inscripción ha sido realizada con exito-</h5>
        <h6 id="confirmacion2">Usted recibirá un correo de confirmación una vez que su pago haya sido validado</h6>
        <br>
        <br>
    </div>

    <div class="row center-align container">
      <br>
      <br>
      <div class="col s6">
        <a href="pagina-principal.php" class="btn " id="botones">Regresar al menú
          <i class="large material-icons right">keyboard_return</i>
        </a>
      </div>
      <div class="col s6">
        <a href="inscripcion_torneo.php" class="btn " id="botones">Registrar otro jugador
          <i class="large material-icons right">edit</i>
        </a>
      </div>
    </div>
  </div>
</div>

<br>
<div class="carousel">
  <div class="patrocinador">
    <a class="carousel-item" href="#one!"><img src="../src/img/boba_logo.png"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div>
</div>
<br>
<br>