    <a href="../index.php" class="brand-logo center"> Bienvenido <?php echo $_SESSION['usuario']['nombreUsuario']?></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="pagina-principal.php">Menu</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
    <div class="row">
        <div class="col s4 ">
            <img class="z-depth-5" id="poster_oficial_pagina_principal" alt="poster_oficial" src="../src/img/poster_oficial.jpg">
        </div>
      <div class="col s8">
        <div class="container">
          
    <?php echo infoPaginaPrincipal();?>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="wrap-InfoTorneo_PaginaInicio z-depth-2 center align">
        
    <?php echo premiosVistaUsuario();?>
</div>
</div>
    </div>
    <div class=" container center align">
        <br>
        <br>
        <div class="row">
            <div class="col s6">
                <a href="inscripcion_torneo.php" class="waves-effect waves-light btn" id="boton_registro">Registrar al torneo</a>
            </div>
            <div class="col s6">
                <a href="informacion-usuario.php"class="waves-effect waves-light btn" id="boton_registro">Consultar mis registros</a>
            </div>

        </div>
    
    </div>
        <br>

