
        <a href="../index.php" class="brand-logo center">Registro Datos Personales</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <h3>Datos personales</h3>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix">account_circle</i>
              <input placeholder="Emilio" id="nombre" type="text" class="validate">
              <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">wc</i>
              <select>
                <option value="" disabled selected>Seleccione su opción</option>
                <option value="1">Hombre</option>
                <option value="2">Mujer</option>
              </select>
              <label>Sexo</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix"></i>
              <input placeholder="Aguilera" id="apellido1" type="text" class="validate">
              <label for="apellido1">Apellido Paterno</label>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">phone</i>
              <input placeholder="4422836061" id="telefono" type="tel" class="validate">
              <label for="telefono">Teléfono</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix"></i>
              <input placeholder="Carlín" id="apellido2" type="text" class="validate">
              <label for="apellido2">Apellido Materno</label>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">email</i>
              <input placeholder="ejemplo@gmail.com" id="email" type="email" class="validate">
              <label for="email">Correo Electrónico</label>
            </div>
            <!--<div class="input-field col s4">
              <i class="material-icons prefix">golf_course</i>
              <input placeholder="4" id="handicap" type="number" class="validate">
              <label for="hanicap">Handicap</label>
            </div>-->
            <!--<div class="input-field col s4">
              <i class="material-icons prefix">payment</i>
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Hombre</option>
                <option value="2">Mujer</option>
              </select>
              <label>Método de pago</label>
            </div>-->
          
          <div class="row center">
            <button href="index.html" class="btn waves-effect waves-light btn-large pink" type="submit" name="action">Guardar
              <i class="material-icons right">save</i>
            </button>
          </div>
        </form>
      </div>
    </div>
    