<a href="index.php" class="brand-logo center">Subir Comprobante de Pago</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="informacion-usuario.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>

<div class="container">
	<div class="retro">
		<ul class="collection with-header">
	        <li class="collection-header grey lighten-2">
	          <h4>Datos Inscripción</h4>
	        </li>
	        <li class="collection-item"><span class="title">Folio</span>
	          <div><input disabled id="folio" type="text" value="<?=$array[0]?>"></div>
	        </li>
	        <li class="collection-item"><span class="title">ID Participante</span>
	          <div><input disabled id="idParticipante" type="text" value="<?=$array[24]?>"></div>
	        </li>
	        <li class="collection-item"><span class="title">Registro a nombre de:</span>
	          <div><input disabled id="nombreUsuario" type="text" value="<?=$array[1]?>"></div>
	        </li>
      	</ul>
		<ul class="collection with-header" >
	        <li class="collection-header grey lighten-2">
	          <h4>Comprobante de Pago de</h4>
	        </li>
	        <li class="collection-item"><span class="title">Seleccione comprobante</span>
	          <!---->
	          <?php
	            	 $caso_id = htmlspecialchars($_GET["caso_id"]);
	  				
	            ?>
	          <form action="../Controladores/controlador_subir_recibo.php?caso_id=<?php echo htmlspecialchars($_GET['caso_id']);?>" method="POST" enctype="multipart/form-data">
	            <div class="file-field input-field">
	              
	              <div class="btn">
	                <span>Examinar</span>
	                <input type="file" name="imagen">
	              </div>
	              <div class="file-path-wrapper">
	                <input class="file-path validate" name="nombrei" type="text">
	              </div>
	              <input type="submit" class="waves-effect waves-light btn" id="btnA" name="btnA" value="Aceptar">
	            </div>
	            

	          </form>
	        </li>
	    </ul>
    </div>
  </div>