</div>
	<div class="container">
		<div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Por qué es una buena práctica separar el modelo del controlador?</strong></h5>
		      <p>Porque separa la lógica de la aplicación de la lógica de la vista en una aplicación. Es una arquitectura importante puesto que se utiliza tanto en componentes gráficos básicos hasta sistemas empresariales</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué es SQL injection y cómo se puede prevenir?</strong></h5>
		      <p>Es una vulnerabilidad donde un atacante “inyecta” instrucciones SQL.
		      <li>Añadir la barra ivertida para poder ignorar los caracteres especiales de SQL</li>
    			<li>Delimitar los valores de consultas</li>
    			<li>Verificar siempre los datos</li>
			    <li>Asignar privilegios minimos al usuario</li></p>
		    </div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
	    M.AutoInit();
	</script>
	</body>

</html>