<form method="POST">
    <?=crear_select("id", "nombre", "pelicula");?>
        <?=crear_select("id", "nombre", "heroe");?>
            <input class="waves-effect waves-light btn deep-purple darken-3" type="submit" value="Buscar">
</form>
<br>
<a class="btn btn-large waves-effect waves-light red" href="controlador_borrar.php"><i class="material-icons">delete</i></a>
<br>
<br>