</div>
	<div class="container">
		<div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué es ODBC y para qué es útil?</strong></h5>
		      <p>Open Data Base Conectivity es un estandar de acceso a las bases de datos, el cual tiene como objetivo el acceder a cualquier dato desde cualquier aplicación</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué es SQL Injection?</strong></h5>
		      <p>Es una vulnerabilidad donde un atacante “inyecta” instrucciones SQL. El objetivo de este es modificar el comportamiento de nuestras consultas a través de parámetros no deseados, falsificando identidades, obteniendo y divulgando información de la base de datos, borrar la base de datos, modificar el nombre a las tablas</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong></h5>
		      <p><li>Añadir la barra ivertida para poder ignorar los caracteres especiales de SQL</li>
    			<li>Delimitar los valores de consultas</li>
    			<li>Verificar siempre los datos</li>
			    <li>Asignar privilegios minimos al usuario</li></p>
		    </div>
		    <div class="divider"></div>
		    
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
	    M.AutoInit();
	</script>
	</body>

</html>