	<div>
		<h1>Preguntas a Responder</h1>
		<dd><strong>¿Qué hace la función phpinfo()? Describe y discute 3 datos que llamen tu atención.</strong></dd>
		<dd>Se muestra la infromación sobre la configuración de php. En la que se puede imprimir cierta parta de la información o toda, puede imprimirse la información de las variables de entorno por ejemplo. Esta función se usa mucho ya que los diferentes sistemas de php se instalan de distinta forma entonces con la función puedes saber la configuración, saber lo que funciona y como no tener errores.</dd>
		<dd><strong>¿Qué cambios tendrías que hacer en la configuración del servidor para que pudiera ser apto en un ambiente de producción?</strong></dd>
		<dd>Primero cambiar la configuración de la seguridad para poder permitir el acceso remoto de manera segura. Luego la configuración de mostrar errores hay que apagarla y mandarlos a un log el cual servirá para debuggear y poder hacer cambios.</dd>
		<dd><strong>¿Cómo es que si el código está en un archivo con código html que se despliega del lado del cliente, se ejecuta del lado del servidor? Explica.</strong></dd>
		<dd>PHP es un lenguaje el cual por un navegador web no puede ser procesado, este debe solicitar la página al servidor, y el servidor es el que procesa el código y finalmente lo devuelve en un formato que entiende el navegador.</dd>
	</div>