</div>
	<div class="container">
		<div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué alternativas a jQuery existen?</strong></h5>
		      <p id=p1>Proporciona un acercamiento de comportamiento de las páginas web al comportamiento de páginas de escritorio, siendo altamente utilizado en grandes proyectos.</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué es una promesa en js?</strong></h5>
		      <p id=p2>Se puede implementar 'Explicit Token Validation', 'Referer Header Checked Validation', 'JSON prefixing', 'HTTP Authentication'</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Cómo funcionan async y await?</strong></h5>
		      <p id=p3>Sus siglas significan  'JavaScript Object Notation', y es un formato ligero de intercambio de datos, de fácil lectura para el desarrollador y de fácil interpretación para las máquinas. Es independiente de un lenguaje de programación. Sus propiedades lo hacen ideal para trabajar con AJAX, utilizado frecuentemente en lugar de XML. JSON define 6 tipos de valores: nulo, números, cadenas, booleanos, matrices y objetos.</p>
		    </div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="ajax.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<script type="text/javascript" src="jquery.js"></script>
	<script>
	    M.AutoInit();
	</script>
	</body>

</html>