	</div>
	<div class="container">
		<div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong></h5>
		      <p>La función session_unset() libera todas las variables de sesión actualmente registradas. Sin embargo, el uso de session_unset en conjunto con session_destroy es un medio mucho más efectivo de borrar los datos. session_destroy () para eliminar toda la información de la sesión. Esta es la función más segura de usar.</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong></h5>
		      <p>Una cookie es un fragmento de información que un navegador web almacena en el disco duro del visitante a una página web. La información se almacena a petición del servidor web, ya sea directamente desde la propia página web con JavaScript o desde el servidor web mediante las cabeceras HTTP. Una sesión es un mecanismo de programación de las tecnologías de web scripting que permite conservar información sobre un usuario al pasar de una página a otra. A diferencia de una cookie, los datos asociados a una sesión se almacenan en el servidor y nunca en el cliente.</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</strong></h5>
		      <p>Una de las tecnicas a utilizar sería por ejemplo con la Id de la foto y otra sería con timestamps, ya que al darle un id las diferenciará y se subirán en tiempos distintos por eso el timestamps</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5><strong>¿Qué es CSRF y cómo puede prevenirse?</strong></h5>
		      <p>Un ataque CSRF consiste en forzar a un usuario a realizar peticiones HTTP, sin su consentimiento, contra una aplicación web en la que está autenticado. Las peticiones solo pueden provocar cambios de los datos, pero no el robo de estos, ya que el atacante no puede acceder a las respuestas de las llamadas. La prevención de los ataques CSRF se lleva a cabo incluyendo un token en la petición HTTP que debe ser validado en el servidor destino. La forma más común de llevar esto acabo es seguir el Double Submit Cookie Pattern.</p>
		    </div>
		    <div class="divider"></div>
		    <div class="section">
		      <h5>Referencias</h5>
		      <p>https://www.php.net/manual/es/function.session-unset.php<br>
		      	http://idesweb.es/proyecto/proyecto-prac09-php-cookies-sesiones<br>
		     	https://medium.com/@alex.ggperez/qu%C3%A9-es-un-ataque-csrf-79114a42dede</p>
		    </div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="script.js"></script>
    <script>
              
              document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.carousel');
                var instances = M.AutoInit();
              });
              
    </script>
  </body>
</html>