  
  <h4>Emilio Aguilera Carlín</h4>
  <h5>Subir imagen</h5>

    <?php if (isset($error)): ?>
        <div class="red-text">Error: <?= $error ?></div>
    <?php endif; ?>
    
  <div class="row">
    <form action="controller_subir.php" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>Examinar</span>
          <input type="file" name="imagen">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
        <input type="submit" class="waves-effect waves-light btn" value="Aceptar">
      </div>
    </form>
  </div>