<a href="InterfazOrg.php" class="brand-logo center">Cancelar Registro</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="informacion-usuario.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>
<div class="row col s12">
  <br>
  
<div class="row" id="formaCancelarUsuarioOrg">
    <div class="row s12" align="center">
      <h3>¿Estás seguro que quieres cancelar la inscripción con los siguientes <br> datos? (No podrás deshacer esta acción)</h3>
      <br>
      <br>
    </div>
    <div class="col s1">
    </div>
    <div class="col s10">

      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos Inscripción</h4>
        </li>
        <li class="collection-item"><span class="title">Folio</span>
          <div><input disabled id="folio" type="text" value="<?=$array[0]?>"></div>
        </li>
        <li class="collection-item"><span class="title">ID Participante</span>
          <div><input disabled id="idParticipante" type="text" value="<?=$array[24]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Registro a nombre de:</span>
          <div><input disabled id="nombreUsuario" type="text" value="<?=$array[1]?>"></div>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos Personales de Jugador</h4>
        </li>
        <li class="collection-item"><span class="title">Nombre</span>
          <div><input disabled type="text" value="<?=$array[3]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Apellido Paterno</span>
          <div><input disabled  type="text" value="<?=$array[4]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Apellido Materno</span>
          <div><input disabled  type="text" value="<?=$array[5]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Sexo</span>
          <div>
            <div><input disabled  type="text" value="<?=$array[6]?>" maxlength="20"></div>
          </div>
        </li>
        <li class="collection-item"><span class="title">Edad</span>
          <div><input disabled  type="number" value="<?=$array[7]?>" max="110" min="1"></div>
        </li>
        <li class="collection-item"><span class="title">Telefono</span>
          <div><input disabled  minlength="10" maxlength="10" id="telefono" value="<?=$array[9]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Correo electronico</span>
          <div><input disabled  type="email" value="<?=$array[8]?>" maxlength="50"></div>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos de Juego</h4>
        </li>
        <li class="collection-item"><span class="title">Handicap</span>
          <div><input disabled  min="0" max="36" type="number" value="<?=$array[10]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Indicaciones especiales</span>
          <div><input disabled  type="text" value="<?=$array[11]?>" maxlength="200"></div>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos Administrativos</h4>
        </li>
        <li class="collection-item"><span class="title">Metodo de pago</span>
          <div>
            <div><input disabled  type="text" value="<?=$array[12]?>"></div>
          </div>
        </li>
        <li class="collection-item"><span class="title">¿Requiere recibo deducible de impuestos?</span>
          <div><input disabled  type="text" value="<?=$array[13]?>"></div>
        </li>



        <li class="collection-item"><span class="title">¿Autoriza la publicación de fotografias?</span>
          <div><input disabled  type="text" value="<?=$array[14]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Indicaciones especiales de pago</span>
          <div><input disabled  type="text" value="<?=$array[20]?>"></div>
        </li>
      </ul>
      <ul class="collection with-header" id="facturacionEdicion ">
        <li class="collection-header grey lighten-2">
          <h4>Datos de Facturación</h4>
        </li>
        <li class="collection-item"><span class="title">Razón Social</span>
          <div><input disabled  type="text" value="<?=$array[16]?>" maxlength="50"></div>
        </li>
        <li class="collection-item"><span class="title">RFC</span>
          <div><input disabled  type="text" value="<?=$array[15]?>" maxlength="13" minlength="12"></div>
        </li>
        <li class="collection-item"><span class="title">Dirección Fiscal</span>
          <div><input disabled  type="text" value="<?=$array[17]?>" maxlength="180"></div>
        </li>
        <li class="collection-item"><span class="title">Comentarios Facturación</span>
          <div><input  disabled  type="text" value="<?=$array[18]?>" maxlength="200"></div>
        </li>
      </ul>
      <div class="center-align">
        <button id="botonCancelarUsuarioOrg"  class="btn waves-effect waves-light btn-large pink">Confirmar Cancelación 
                <i class="material-icons right">clear</i>
        </button>
      </div>
      <div class="col s12" align="center">
        <br>
          <a href="InterfazConsulta.php" class="btn waves-effect waves-light btn-large pink" id="botones">Regresar 
            <i class="large material-icons right">keyboard_return</i>
          </a>
        </div>
    </div>
  </div>

  <div class="container center-align" id="circuloCarga_CancelarUsuarioOrg" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>

  <div class="container" id="mensajeEditarUsuarioOrg" style="display: none;">
    <div class="row">

      <div class="col s12 center-align">
        <br>
        <br>
        <h3 id="confirmacionCancelarUsuarioOrg"></h3>
        <br>
        <br>
      </div>

      <div class="col s12">
        <br>
        <br>
        <div class="col s12" align="center">
          <a href="InterfazConsulta.php" class="btn " id="botones">Regresar
            <i class="large material-icons right">keyboard_return</i>
          </a>
        </div>
        <div class="col s12" align="center">
          <br>
          <br>
          <a href="InterfazOrg.php" class="btn " id="botones">Consultar más registros
            <i class="large material-icons right">edit</i>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>