<a href="index.php" class="brand-logo center">Editar datos de inscripción</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="informacion-usuario.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>
<div class="row col s12">
  <br>
  <h3></h3>

  <br>
  <br>
  <div class="row" id="forma">
    <div class="col s1">
    </div>
    <div class="col s10">
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos Inscripción</h4>
        </li>
        <li class="collection-item"><span class="title">Folio</span>
          <div><input disabled id="folio" type="text" value="<?=$array[0]?>"></div>
        </li>
        <li class="collection-item"><span class="title">ID Participante</span>
          <div><input disabled id="idParticipante" type="text" value="<?=$array[24]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Registro a nombre de:</span>
          <div><input disabled id="nombreUsuario" type="text" value="<?=$array[1]?>"></div>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos Personales de Jugador</h4>
        </li>
        <li class="collection-item"><span class="title">Nombre</span>
          <div><input id="nombre" type="text" value="<?=$array[3]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Apellido Paterno</span>
          <div><input id="apellidoPaterno" type="text" value="<?=$array[4]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Apellido Materno</span>
          <div><input id="apellidoMaterno" type="text" value="<?=$array[5]?>" maxlength="20"></div>
        </li>
        <li class="collection-item"><span class="title">Sexo</span>
          <div>
            <?=crear_selectSexo($array[6]);?>
          </div>
        </li>
        <li class="collection-item"><span class="title">Edad</span>
          <div><input id="edad" type="number" value="<?=$array[7]?>" max="110" min="1"></div>
        </li>
        <li class="collection-item"><span class="title">Telefono</span>
          <div><input id="telefono" minlength="10" maxlength="10" id="telefono" value="<?=$array[9]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Correo electronico</span>
          <div><input id="email" type="email" value="<?=$array[8]?>" maxlength="50"></div>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos de Juego</h4>
        </li>
        <li class="collection-item"><span class="title">Handicap</span>
          <div><input step="0.1" id="handicap" min="0" max="36" type="number" value="<?=$array[10]?>"></div>
        </li>
        <li class="collection-item"><span class="title">Indicaciones especiales</span>
          <div><input id="indicacion_especial" type="text" value="<?=$array[11]?>" maxlength="200"></div>
        </li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Datos Administrativos</h4>
        </li>
        <li class="collection-item"><span class="title">Metodo de pago</span>
          <div>
            <?=crear_selectMetodoPago($array[12]);?>
          </div>
        </li>
        <li class="collection-item"><span class="title">¿Requiere recibo deducible de impuestos?</span>
          <div>
            <?=crear_SelectSiNo("facturacion",$array[13]);?>
          </div>
        </li>

        <li class="collection-item"><span class="title">¿Autoriza la publicación de fotografias?</span>
          <div>
            <?=crear_SelectSiNo("autorizarFotos",$array[14]);?>
          </div>
        </li>
        <li class="collection-item"><span class="title">Indicaciones especiales</span>
          <div><input id="indicacion_especial_pago" type="text" value="<?=$array[20]?>" maxlength="200"></div>
        </li>
      </ul>
      <ul class="collection with-header" id="facturacionEdicion ">
        <li class="collection-header grey lighten-2">
          <h4>Datos de Facturación</h4>
        </li>
        <li class="collection-item"><span class="title">Razón Social</span>
          <div><input id="facturacion_razonSocial" type="text" value="<?=$array[16]?>" maxlength="50"></div>
        </li>
        <li class="collection-item"><span class="title">RFC</span>
          <div><input id="facturacion_RFC" type="text" value="<?=$array[15]?>" maxlength="13" minlength="12"></div>
        </li>
        <li class="collection-item"><span class="title">Dirección Fiscal</span>
          <div><input id="factDireccionFiscal" type="text" value="<?=$array[17]?>" maxlength="180"></div>
        </li>
        <li class="collection-item"><span class="title">Comentarios Facturación</span>
          <div><input id="indicacion_especial_facturacion" type="text" value="<?=$array[18]?>" maxlength="200"></div>
        </li>
      </ul>
       <ul class="collection with-header">
        <li class="collection-header grey lighten-2">
          <h4>Comprobante de Pago</h4>
        </li>
        <li class="collection-item"><span class="title">Comprobante</span>
          <div><input disabled id="recibo" type="text" value="<?=$array[19]?>"></div>
          <img src="../src/uploads/<?=$array[1]?>/<?=$array[19]?>" width="50%"></img>
        </li>
      </ul>
      <div class="center-align">
        <a class="modal-trigger" href="#modal1" onclick="crearTablaUsuario(
          '<?=$array[3]?>',
          '<?=$array[4]?>',
          '<?=$array[5]?>',
          '<?=$array[6]?>',
          '<?=$array[7]?>',
          '<?=$array[8]?>',
          '<?=$array[9]?>',
            <?=$array[10]?>,
          '<?=$array[11]?>',
          '<?=$array[12]?>',
          '<?=$array[13]?>',
          '<?=$array[14]?>',
          '<?=$array[15]?>',
          '<?=$array[16]?>',
          '<?=$array[17]?>',
          '<?=$array[18]?>',
          '<?=$array[19]?>',
          '<?=$array[20]?>'
          )"><button class="btn waves-effect waves-light btn-large pink" >Guardar
            Cambios
            <i class="material-icons right">save</i>
          </button></a>
      </div>
      <div id="modal1" class="modal center-align">
        <div class="modal-content">
          <h5 class="center-align" id="titulo_confirmacion">¿Confirmar la edición?</h5>
          <div id="editar_confirmacion">

          </div>
        </div>
        <br>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat center-align"
          id="editarInscripcionUsuario" onclick="editarInscripcionUsuario()">Confirmarr</a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat center-align">Cancelar</a>
        <div class="modal-footer center-align">

        </div>
      </div>
    </div>
    <div class="col s1">

    </div>
  </div>
  <div class="container center-align" id="circuloCarga_EditarUsuario" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="container" id="mensaje" style="display: none;">
    <div class="row">

      <div class="col s12 center-align">

        <h3 class="center-align" id="titulo"></h3>

        <br>
        <br>
        <h5 class="center-align" id="subtitulo"></h5>
        <br>
        <br>
        <h5 id="confirmacion">
          </h4>
          <h5 id="confirmacion2"></h5>
          <br>
          <br>
      </div>

      <div class="row center-align container">
        <br>
        <br>
        <div class="col s6">
          <a href="pagina-principal.php" class="btn " id="botones">Regresar a la página principal
            <i class="large material-icons right">keyboard_return</i>
          </a>
        </div>
        <div class="col s6">
          <a href="informacion-usuario.php" class="btn " id="botones">Consultar más registros
            <i class="large material-icons right">edit</i>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>