<a href="index.php" class="brand-logo center">Editar Premio</a>
<a href="index.php" class="brand-logo center">Editar Premio</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="consultapremio.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>
<div class="row col s12">
  <div class="container">
     <div class="row">
        <h3 align="center">Eliminar Premio</h3>
        <h5 align="center">Esta acción no se puede revertir</h5>
      </div>

    <div class="container" id="formaEliminarPremio">     
      <div class="row" >
        <div class="input-field col s12">
            <!-- Lo mandas al model php y le pides la función getPpciones -->
            <?= getOpciones('idTorneo', 'nombre', 'torneo',$array[6]) ?>
        </div>
        <div class="input-field col s12">
          <select id="tipoEdit" name="tipoEdit">
                <option selected value="<?=$array[1]?>"><?=$array[1]?></option>
                <option value="O'Yes">O'Yes</option>
                <option value="Hole-in-one">Hole-in-one</option>
                <option value="Por equipo">Por equipo</option>
            </select>
            <label for="tipoEdit">Premio</label>
        </div>  
        <ul>
          <div class="input-field col s12">
           <li class="collection-item"><span class="title"><label for="descripcionEdit">Descripción</label></span>
            <div><input id="descripcionEdit" type="text" value="<?=$array[2]?>" maxlength="50"></div>
          </li> 
        </div> 
        <div class="input-field col s12">
          <li class="collection-item"><span class="title"><label for="posicionEdit">Posición</label></span>
            <div><input id="posicionEdit" type="text" value="<?=$array[3]?>" maxlength="20"></div>
          </li>
        </div> 
        <div class="input-field col s12">
          <li class="collection-item"><span class="title"><label for="hoyoEdit">Hoyo</label></span>
            <div><input id="hoyoEdit" type="number" value="<?=$array[4]?>" max="30" min="1"></div>
          </li>
        </div>   
        <div class="input-field col s12" style="display: none;">
          <li class="collection-item"><span class="title"><label for="idPremioElim">id Premio</label></span>
            <div><input disabled id="idPremioElim" type="number" value="<?=$array[0]?>" max="30" min="1"></div>
          </li>
        </div>             
        <div class="row" style="display: block;">
          <div class="col s12" align="center" id="encabezadoMensajeEditarPremio" style="color: #ff4d4d" >
          </div>
        </div>
        <div class="center-align">
        <button id="eliminarPremio"  class="btn waves-effect waves-light btn-large pink">Eliminar Premio 
                <i class="material-icons right">clear</i>
        </button>
      </div>
      <div class="col s12" align="center">
        <br>
          <a href="consultapremio.php" class="btn waves-effect waves-light btn-large pink" id="botones">Regresar 
            <i class="large material-icons right">keyboard_return</i>
          </a>
        </div>
      </div>       
    </div>


 <div class="container center-align" id="circuloCarga_EliminarPremio" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
          </div>
        </div>
      </div>
        <br>
        <br>
        <br>
  </div>


    <div class="container" id="mensajeEliminaPremio" style="display: none;">

      <div class="row">

        <div class="col s12" align="center">
          <div>
          <h3 align="center" id="tituloPremioE">Este premio fue eliminado</h3>
          <i class="medium material-icons" id="iconoRespuesta">check_box</i>
          </div>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="consultapremio.php" class="btn " id="botones">Eliminar otro premio
            <i class="large material-icons right">keyboard_return</i>
          </a>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="InterfazOrg.php" class="btn " id="botones">Salir al menú 
            <i class="large material-icons right">edit</i>
          </a>
        </div>

      </div>

    </div>