



<a href="../index.php" class="brand-logo center">Crea tu cuenta</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a  href="../index.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
          <li><a href="InterfazLogin.php">Inicia Sesión</a></li>
        </ul>
      </div>
    </div>
    </nav>



    <div class="container" id="">
      <div class="row">
        <h3 align="center">Ingresa tus datos</h3>
      </div>
          <div class="row" >
            <form id="signupform" role="form" action="../Controladores/controlador_registro_cuenta.php" method="POST">

              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input placeholder="ejemplo@gmail.com" name="email" type="email" class="validate" minlength="6" maxlength = "50" required>
                <span class="helper-text" data-error="Correo inválido"></span>
                <label for="email">Correo Electrónico *</label>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">face</i>
                <input placeholder="OrgEmilio1" name="username" type="text" class="validate"maxlength = "20" required>
                <label for="username">Nombre de Usuario *</label>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input placeholder="Emilio123" name="pass" type="password" class="validate" minlength="6" maxlength = "40" pattern="[A-ZÑña-z0-9_-]{1,50}" style="color: black" required>
                <span class="helper-text" data-error="Contraseña muy corta, debe contener al menos 6 caracteres, números o guiones"></span>
                <label for="pass">Contraseña *</label>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input placeholder="Emilio123" name="conpass" type="password" class="validate" minlength="6" maxlength = "40" pattern="[A-ZÑña-z0-9_-]{1,50}" style="color: black" required>
                <span class="helper-text" data-error="Contraseña no coincide"></span>
                <label for="pass">Confirmar Contraseña *</label>
                <?php
                  if(isset($_GET["contra"])){
                    $mensaje2=$_GET["contra"];
                    echo "$mensaje2";
                  }
                ?>
              </div>
              <div class="col s12">
                <!--Sitekey 6LfuoP8UAAAAANivuLaogwP-dP6n-cuFwKMp1sqd 
                  secret key 6LfuoP8UAAAAAI7vkzH-61GIpzjCceM62b-Own7w -->
                <div class="g-recaptcha" data-sitekey="6LdxBQEVAAAAAFHPAPTpxVuO0QMr-bUclhOw63WR"></div>
                <?php
                  if(isset($_GET["varC"])){
                    $mensaje=$_GET["varC"];
                    echo "$mensaje";
                  }
                ?>
              </div>  
              <div class="row center">
                <button id="registrarCuenta" class="btn waves-effect waves-light btn-large pink">Registrar
                  <i class=material-icons right>save</i>
                </button>
              </div> 
            </form>
            <div class="row center">
              <a href="InterfazLogin.php">¿Ya tienes cuenta? Inicia Sesión aquí</a>
            </div>
          </div>
                
    </div>
    

      
    