
<a href="../index.php" class="brand-logo center" >Interfaz Organizador</a>
</div>
</div>
</nav>
<div class="container">
 <div class="row">

  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align" >
      <div class="col s12">
        <i class="large material-icons icon-blue ">assignment</i>
      </div>
      <div class="col s12">
        <p>
          Consulta, edita y cancela los registros de los participantes del torneo de tu interés.
        </p>
      </div>
      <a href="InterfazConsulta.php" class="btn" id="botones">Administrar registros</a>
    </div>
  </div>

  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">group</i>
      </div>
      <div class="col s12">
        <p>
          Consulta, modifica y cancela los equipos para el torneo activo.
          <br><br>
        </p>
      </div>
      <a href="consultarEquipos.php" class="btn " id="botones">Administrar equipos</a>
    </div>
  </div>
  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">collections</i>
      </div>
      <div class="col s12">
        <p>
          Podrás subir imágenes como el poster del torneo activo, fotos de torneos y logos de patrocinadores.
        </p>
      </div>
      <a href="Subir_Imagenes.php" class="btn " id="botones">Subir imágenes</a>
    </div>
  </div>

</div>

<div class="row">
  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">golf_course</i>
      </div>
      <div class="col s12">
        <p>
          Crea un nuevo torneo para que los participantes se puedan registrar.<br><br>
        </p>
      </div>
      <a href="InterfazCreaTorneo.php" class="btn" id="botones">Crear toreno</a>
    </div>
  </div>

  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">create</i>
      </div>
      <div class="col s12">
        <p>
          Consulta, modifica, y activa o desactiva la información más relevante de tus torneos.
        </p>
      </div>
      <a href="InterfazEditarTorneo.php" class="btn" id="botones">Administrar Torneos</a>
    </div>
  </div>

  <div class="col s12 m6 l4 center-align" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">card_giftcard</i>
      </div>
      <div class="col s12">
        <p>
          Agrega, consulta, edita, y elimina premios de cada torneo.<br><br>
        </p>
      </div>
      <a href="consultapremio.php" class="btn " id="botones">Administrar premios</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">account_circle</i>
      </div>
      <div class="col s12">
        <p>
          Consulta y modifica tus datos personales.<br><br>
        </p>
      </div>
      <a href="#" class="btn " id="botones">Mi información personal</a>
    </div>
  </div>
  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">person_add</i>
      </div>
      <div class="col s12">
        <p>
          Añade más administradores que podrán ayudarte con la administración de tus torneos.
        </p>
      </div>
      <a href="InterfazAltaOrg.php" class="btn " id="botones">Agregar organizador</a>
    </div>
  </div>

  <div class="col s12 m6 l4" id = "actividades">
    <div class="center-align">
      <div class="col s12">
        <i class="large material-icons icon-blue">person_add_disabled</i>
      </div>
      <div class="col s12">
        <p>
          Da de baja una cuenta de organizador para que este ya no pueda interactuar con el sistema.
        </p>
      </div>
      <a href="BajaOrg.php" class="btn " id="botones">Eliminar organizador</a>
    </div>
  </div>


</div>
<div class="row">

 <div class="col s12 m6 l4" id = "actividades">
  <div class="center-align">
    <div class="col s12">
      <i class="large material-icons icon-blue">rate_review</i>
    </div>
    <div class="col s12">
      <p>
        Revisa la información de los patrocinadores, y rechaza o aprueba sus patrocinios para el torneo actual. <br>
      </p>
    </div>
    <a href="RevisarPatrocinadores.php" class="btn " id="botones">Administrar patrocinadores</a>
  </div>
</div>

<div class="col s12 m6 l4" id = "actividades">
  <div class="center-align">
    <div class="col s12">
      <i class="large material-icons icon-blue">contacts</i>
    </div>
    <div class="col s12">
      <p>
        Consulta el historial de patrocinadores por torneo, o por estatus.<br><br>
      </p>
    </div>
    <a href="Ver_Patrocinadores.php" class="btn " id="botones">Historial de patrocinadores</a>
  </div>
</div>
</div>
</div>
<br><br><br>