<a href="../index.php" class="brand-logo center">Subir Comprobante de Pago</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a href="../Vistas/informacion-usuario.php"><i class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="../Vistas/pagina-principal.php">Menu</a></li>
</ul>
</div>
</div>
</nav>

<div class="container center">