
         <a href="InterfazOrg.php" class="brand-logo center">Registros de Patrocinadores</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a  href="InterfazOrg.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
          <li><a href="InterfazOrg.php">Menu</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" id="SelectVer">
      <div class="row">
        <h3 align="center">Ver Registros</h3>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i> 
          <select name="patrocinios" id="patrociniosVer">
            <option value="NA" disabled selected>Selecciona una opción</option>
            <option value="1" >Pendientes</option>
            <option value="2" >Aceptados</option>
            <option value="3" >Rechazados</option>
          </select>
          <label>Selecciona el estatus de los patrocinios que te interesa buscar* (Campo Obligatorio)</label>
          <br>
          <br>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i> 
          <select name="orden" id="ordenVer">
            <option value="NA" disabled selected>Selecciona una opción</option>
            <option value="1" >Más nuevos primero</option>
            <option value="2" >Más antiguos primero</option>
          </select>
          <label>Selecciona el orden en el que te interesa buscar* (Campo Obligatorio)</label>
      </div>
      <br>
      <br>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
              <?=crear_select_anio();?>
          <label>Seleccione el año por el cual desea buscar</label>
      </div>
      <div class="row" style="display: block;">
          <div class="col s12" align="center" id="encabezadoMensajeVP" style="color: #ff4d4d" >
          </div>
      </div>
      <div class="row center">
              <button id="botonVer" class="btn waves-effect waves-light btn-large pink">Buscar
                <i class="material-icons right">search</i>
              </button>
      </div>
    </div>

  <div class="container center-align" id="circuloCarga_VerPatro" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
         <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
  </div>    

    <div class="container" id="CasosVer" style="display: none;">
     <br>
      <br>
         <div class="row">
            <h3 align="center">Patrocinadores</h3>
         </div>
         <div class="input-field col s12" id="ConsultaVer">
        
         </div>
    </div>

    <div class="container" id="RegresarBuscarVer" style="display: none;">
      <br>
      <br>
      <div class="row center">
        <button id="regresar" class="btn waves-effect waves-light btn-large pink">Regresar
          <i class="material-icons right">keyboard_return</i>
        </button>
      </div>
    </div>

    <div class="container" >
      <br>
      <br>
          <div class="row" id="MensajeVer">
            <h3 align="center"></h3>
          </div>
    </div>