 <a href="index.php" class="brand-logo center" >Revisar Patrocinio</a>
        </div>
      </div>
    </nav>
    <div class="container" id="divRP">
      <div class="row">
        <h3 align="center">Información del Patrocinio</h3>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">business</i>
          <input type="text" value="<?= $empresa ?>" disabled>
          <label for="nombre">Nombre de la empresa</label>
      </div>
      <br>
      <div class="input-field col s12">
          <i class="material-icons prefix">equalizer</i>
          <input type="text" value="<?= $estatus ?>" disabled>
          <label for="nombre">Estatus actual</label>
      </div>
      <br>
      <div class="input-field col s12">
          <i class="material-icons prefix">today</i>
          <input type="text" value="<?= $fecha ?>" id="fecha" disabled>
          <label for="nombre">Fecha en la que se registraron los datos</label>
      </div>
      <br>
      <div class="input-field col s12">
          <i class="material-icons prefix">attach_money</i>
          <input placeholder="Cantidad y descripción del patrocinio obtenido" type="text" id="PatrocinioObt" minlength="1">
          <span class="helper-text" data-error="Introduce información en este campo"></span>
          <label for="nombre">Patrocinio obtenido* (campo obligatorio)</label>
      </div>
      <br>
      <div class="input-field col s12">
          <i class="material-icons prefix">create</i> 
          <select name="estatus_Patrocinio" id="estatus_Patrocinio">
            <option value="NA" disabled selected>Selecciona una opción</option>
            <option value="1" >Pendiente</option>
            <option value="2" >Aceptado</option>
            <option value="3" >Rechazado</option>
          </select>
          <label>Selecciona el nuevo estatus del patrocinio* (campo obligatorio)</label>
          <br>
          <br>
      </div>
      <div class="row" style="display: block;">
          <div class="col s12" align="center" id="encabezadoMensajeRP" style="color: #ff4d4d" >
          </div>
      </div>
      <div class="row center">
              <button id="BRP" class="btn waves-effect waves-light btn-large pink">Guardar Cambios
                <i class="material-icons right">save</i>
              </button>
      </div>
    </div>

  <div class="container center-align" id="circuloCarga_RP" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
         <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
  </div>  

    <div class="container" id="secMensajeRP" style="display: none;">
      <br>
      <br>
          <div class="row">
            <h3 id="MensajeRP" align="center"></h3>
            <div align="center">
              <i class="medium material-icons" id="iconoRespuestaRP" >check_box</i>
            </div>
          </div>
    </div>

    <div class="container" id="RegresarRP" style="display: none;">
      <br>
      <br>
      <div class="row center">
          <a href="RevisarPatrocinadores.php" class="btn " id="botones">Regresar a la busqueda
            <i class="material-icons right">keyboard_return</i>
          </a>
      </div>
    </div>