    <a href="InterfazOrg.php" class="brand-logo center">Consulta los Registros</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a  href="InterfazOrg.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
      <li><a href="InterfazOrg.php">Menu</a></li>
    </ul>
  </div>
      </div>
    </nav>
    <div class="row">
      <br>
        <h3 align="center">Inscripciones al torneo</h3>
      </div>
    <div class="container " id="SelectR">
      <h5>Buscador por estatus de inscripción</h5>
	<div class="input-field col s12">
          <i class="material-icons prefix">search</i> 
          <select name="registros" id="registros">
            <option value="NA" disabled selected>Selecciona una opción</option>
            <option value="1" >Pendientes</option>
            <option value="2" >Inscritos</option>
          </select>
          <label>Selecciona el estatus de Inscripción que te interesa buscar</label>
          <br>
          <br>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i> 
          <select name="mostrar" id="mostrar">
            <option value="NA" disabled selected>Selecciona una opción</option>
            <option value="1" >Más nuevos primero</option>
            <option value="2" >Más antiguos primero</option>
          </select>
          <label>Selecciona el orden en el que te interesa buscar</label>
      </div>
      <div class="row" style="display: block;">
          <div class="col s12" align="center" id="MRR" style="color: #ff4d4d" >
          </div>
      </div>
      <div class="row center">
              <button id="botonB" class="btn waves-effect waves-light btn-large pink">Buscar
                <i class="material-icons right">search</i>
              </button>
              <button id="botonT" class="btn waves-effect waves-light btn-large pink">Ver Todo
                <i class="material-icons right">search</i>
              </button>
      </div>
      <div class="row center">
          <a href="InterfazOrg.php" class="btn-large pink" id="botones">Regresar al menú
            <i class="material-icons right">keyboard_return</i>
          </a>
      </div>
    </div>
    <div class="container" id="Registros" style="display: none;">
     <br>
      <br>
         <div class="row">
            <h3 align="center">Inscripciones al torneo por estatus de inscripción</h3>
         </div>
         <div class="input-field col s12" id="ConsultaR">
        
         </div>
    </div>
    <div class="container" id="Registros2" style="display: none;">
     <br>
      <br>
         <div class="row">
            <h3 align="center">Lista completa de inscripciones al torneo</h3>
         </div>
         <div class="input-field col s12" id="ConsultaT">
        
         </div>
    </div>
    <div class="container" id="RegresarBuscar" style="display: none;">
      <br>
      <br>
      <div class="row center">
        <button id="regresar" class="btn waves-effect waves-light btn-large pink">Regresar
          <i class="material-icons right">keyboard_return</i>
        </button>
      </div>
    </div>
        <div class="container" >
      <br>
      <br>
          <div class="row" id="Mensaje">
            <h3 align="center"></h3>
          </div>
    </div>





<div class="container" >
