
         <a href="index.php" class="brand-logo center" >Interfaz Organizador</a>
        </div>
      </div>
    </nav>
    <div class="container">
     <div class="row">
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align" >
          <div class="col s12">
            <i class="large material-icons icon-blue ">assignment</i>
          </div>
          <div class="col s12">
            <p>
              Consulta los registros de los participantes del torneo de tu interés.
            </p>
          </div>
          <a href="InterfazConsulta.php" class="btn" id="botones">Consulta registros</a>
        </div>
      </div>
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">golf_course</i>
          </div>
          <div class="col s12">
            <p>
              Crea un nuevo torneo para que los participantes se puedan registrar.
            </p>
          </div>
          <a href="InterfazCreaTorneo.php" class="btn" id="botones">Crear toreno</a>
        </div>
      </div>
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">create</i>
          </div>
          <div class="col s12">
            <p>
              Edita la información principal del torneo activo, como el lugar y la fecha.
            </p>
          </div>
          <a href="#" class="btn" id="botones">Editar Torneo</a>
        </div>
      </div>
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">cancel_presentation</i>
          </div>
          <div class="col s12">
            <p>
              Al cerrar el torneo, no se aceptaran más inscripciones ni pagos.
            </p>
          </div>
          <a href="#" class="btn " id="botones">Cierre de torneo</a>
        </div>
      </div>
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">person_add</i>
          </div>
          <div class="col s12">
            <p>
              Podrás añadir más organizadores que te podrán ayudar con la organización del torneo.
            </p>
          </div>
          <a href="InterfazAltaOrg.php" class="btn " id="botones">Añadir organizador</a>
        </div>
      </div>
      <div class="col s12 m6 l4" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">person_add_disabled</i>
          </div>
          <div class="col s12">
            <p>
              Darás de baja la cuenta de un organizador, ya no podrá interactuar con el sistema.
            </p>
          </div>
          <a href="BajaOrg.php" class="btn " id="botones">Eliminar organizador</a>
        </div>
      </div>
      <div class="col s12 m6 l6" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">contacts</i>
          </div>
          <div class="col s12">
            <p>
              Podrás buscar los registros de los patrocinadores por su fecha o  por estatus.
            </p>
          </div>
          <a href="Ver_Patrocinadores.php" class="btn " id="botones">Registros de patrocinadores</a>
        </div>
      </div>
      <div class="col s12 m6 l6" id = "actividades">
        <div class="center-align">
          <div class="col s12">
            <i class="large material-icons icon-blue">rate_review</i>
          </div>
          <div class="col s12">
            <p>
              Podrás revisar la información de los patrocinadores y rechazarlos o aprovarlos.
            </p>
          </div>
          <a href="RevisarPatrocinadores.php" class="btn " id="botones">Revisar patrocinadores</a>
        </div>
      </div>
     </div>
    </div>
