        <a href="index.php" class="brand-logo center">Editar torneo</a>
      </div>
      </nav>
    <div class="container">
      <div class="row">
        <h3>Datos del Torneo</h3>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">

            <div class="input-field col s6">
              <i class="material-icons prefix">event</i>
              <input value="Apr, 20, 2020" id="fechaT" type="text" class="datepicker">
              <label for="fechaT">Fecha de Torneo</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">access_time</i>
              <input value="12:00 PM" id="HoraR" type="text" class="timepicker">
              <label for="HoraR">Hora de Registro</label>
            </div>            
          </div>


          <div class="row">
          	<div class="input-field col s6">
              <i class="material-icons prefix">access_time</i>
              <input value="12:00 PM" id="HoraI" type="text" class="timepicker">
              <label for="HoraI">Hora de Inicio</label>
            </div>  
            <div class="input-field col s6">
              <i class="material-icons prefix">place</i>
              <input value="Club" id="lugar" type="text" class="validate">
              <label for="lugar">Lugar</label>
            </div>   
          </div> 

          <div class="row">
          	<div class="input-field col s6">
              <i class="material-icons prefix">attach_money</i>
              <input value="300" id="costo" type="number" class="validate">
              <label for="costo">Costo</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">event_busy</i>
              <input value="Apr, 21, 2020" id="cierreT" type="text" class="datepicker">
              <label for="cierreT">Cierre de Torneo</label>
            </div>  
          </div> 
          <div class="row right">
            <button href="index.html" class="btn waves-effect waves-light btn-large red darken-4" type="submit" name="action">Eliminar torneo
              <i class="material-icons right">delete</i>
            </button>
          </div>      
          <div class="row left">
            <button href="index.html" class="btn waves-effect waves-light btn-large pink" type="submit" name="action">Guardar cambios
              <i class="material-icons right">save</i>
            </button>
          </div>
        </form>
      </div>
    </div>