        <a href="InterfazOrg.php" class="brand-logo center">Registro Organizador</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a  href="InterfazOrg.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
          <li><a href="InterfazOrg.php">Menu</a></li>
        </ul>
      </div>
    </div>
    </nav>
    <div class="container" id="forma">
      <div class="row">
        <h3 align="center">Datos del Organizador</h3>
      </div>
          <div class="row" >
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input placeholder="Emilio" id="nombre" type="text" class="validate" maxlength = "20">
              <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input placeholder="Aguilera" id="apellido1" type="text" class="validate" maxlength = "20">
              <label for="apellido1">Apellido Paterno</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input placeholder="Carlín" id="apellido2" type="text" class="validate" maxlength = "20">
              <label for="apellido2">Apellido Materno</label>
            </div>              
          	<div class="input-field col s12">
              <i class="material-icons prefix">phone</i>
              <input placeholder="4422836061" id="telefono" type="tel" class="validate" minlength="10" maxlength = "10">
              <span class="helper-text" data-error="Numero muy corto, debe contener 10 dígitos"></span>
              <label for="telefono">Teléfono</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input placeholder="ejemplo@gmail.com" id="email" type="email" class="validate" minlength="6" maxlength = "50">
              <span class="helper-text" data-error="Correo inválido"></span>
              <label for="email">Correo Electrónico</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">face</i>
              <input placeholder="OrgEmilio1" id="username" type="text" class="validate"maxlength = "20">
              <label for="username">Nombre de Usuario</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input placeholder="@Emilio123" id="pass" type="password" class="validate" minlength="6" maxlength = "40" style="color: black">
              <span class="helper-text" data-error="Contraseña muy corta, debe contener al menos 6 caracteres"></span>
              <label for="pass">Contraseña</label>
            </div>
            <div class="row" style="display: block;">
              <div class="col s12" align="center" id="encabezadoMensajeOrganizador" style="color: #ff4d4d" >
              </div>
            </div>
            <div class="row center">
              <button id="registrarOrg" class="btn waves-effect waves-light btn-large pink">Registrar
                <i class="material-icons right">save</i>
              </button>
            </div>    
          </div>       
    </div>

  <div class="container center-align" id="circuloCarga_AltaOrg" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
          </div>
        </div>
      </div>
        <br>
        <br>
        <br>
  </div>

    <div class="container" id="mensaje" style="display: none;">

      <div class="row">

        <div class="col s12" align="center">
          <div>
          <h3 align="center" id="titulo">Se registró exitosamente al organizador</h3>
          <i class="medium material-icons" id="iconoRespuesta">check_box</i>
          </div>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="InterfazOrg.php" class="btn " id="botones">Regresar al menú  
            <i class="large material-icons right">keyboard_return</i>
          </a>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="InterfazAltaOrg.php" class="btn " id="botones">Registrar otro organizador 
            <i class="large material-icons right">edit</i>
          </a>
        </div>

      </div>

    </div>

    <div class="container" id="cargandoAltaOrg" style="display: none;">
      <div class="row">
        <div class="col s12" align="center">
          <div class="preloader-wrapper big active">
           <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>