<a href="InterfazOrg.php" class="brand-logo center">Crear Torneo</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a  href="InterfazOrg.php" ><i  class="large material-icons">keyboard_backspace</i></a></li>
  <li><a href="InterfazOrg.php">Menu</a></li>
</ul>
</div>
    </nav>
    <div class="container">
      <div class="row">
        <h3>Datos del Torneo</h3>
      </div>
      <div class="row"id="forma">
        
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">event</i>
              <input placeholder="Apr, 20, 2020" id="fechaT" type="text" class="datepicker" >
              <label for="fechaT">Fecha de Torneo</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">access_time</i>
              <input placeholder="12:00 PM" id="HoraR" type="text" class="timepicker" >
              <label for="HoraR">Hora de Registro</label>
            </div>            
          </div>


          <div class="row">
          	<div class="input-field col s6">
              <i class="material-icons prefix">access_time</i>
              <input placeholder="12:00 PM" id="HoraI" type="text" class="timepicker">
              <label for="HoraI">Hora de Inicio</label>
            </div>  
            <div class="input-field col s6">
              <i class="material-icons prefix">place</i>
              <input placeholder="Club" id="lugar" type="text" class="validate">
              <label for="lugar">Lugar</label>
            </div>   
          </div> 

          <div class="row">
          	<div class="input-field col s6">
              <i class="material-icons prefix">attach_money</i>
              <input placeholder="300" id="costo" type="number" class="validate">
              <label for="costo">Costo</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">event_busy</i>
              <input placeholder="Apr, 21, 2020" id="cierreT" type="text" class="datepicker">
              <label for="cierreT">Cierre de Torneo</label>
            </div>  
          </div>       
          <div class="row" style="display: block;">
            <div class="col s12" align="center" id="MensajeOrganizador" style="color: #ff4d4d" >
            </div>
          </div>
          <div class="row center">
            <button id="registrarTor" class="btn waves-effect waves-light btn-large pink">Registrar Torneo
              <i class="material-icons right">save</i>
            </button>
          </div>
        
      </div>
    </div>

    <div class="container" id="mensaje" style="display: none;">

      <div class="row">

        <div class="col s12" align="center">
          <div>
          <h3 align="center" id="titulo2">Se registró exitosamente el torneo</h3>
          <i class="medium material-icons" id="iconoRespuesta">check_box</i>
          </div>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="InterfazOrg.php" class="btn " id="botones">Regresar al menú  
            <i class="large material-icons right">keyboard_return</i>
          </a>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="InterfazCreaTorneo.php" class="btn " id="botones">Registrar otro torneo 
            <i class="large material-icons right">edit</i>
          </a>
        </div>

      </div>

    </div>