    <a href="index.php" class="brand-logo center"> Bienvenido <?php echo $_SESSION['usuario']['nombreUsuario']?></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="pagina-principal.php">Menu</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
    <div class="row">
        <div class="col s4 ">
            <img class="z-depth-5" id="poster_oficial_pagina_principal" alt="poster_oficial" src="../src/img/poster_oficial.jpg">
        </div>
      <div class="col s8">
        <div class="container">
          <h3>10° Torneo de Golf</h3>
          <div class="divider"></div>
            <h5>Lugar:</h5>
            <br>
            <h5>Fecha:</h5>
            <br>
            <h5>Modalidad:</h5>
            <br>
            <div class="divider"></div>
            <div class="section">
              <h6>Donativo hasta 01/01/2020:</h6>
              <p>$ 2800.00</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h6>Donativo fecha posterior:</h6>
              <p>$ 3000.00</p>
            </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="wrap-InfoTorneo_PaginaInicio z-depth-2 center align">
        <div class="row">
            <div class="col s6">
            <h5>Premios Hole in one</h5>
                <div class="section">
                    <h6>Premio 1</h6>
                    <h6>Premio 2</h6>
                    <h6>Premio 3</h6>
                </div>
            </div>
            <div class="col s6">
            <h5>Premios O'yes</h5>
                <div class="section">
                    <h6>Premio 1</h6>
                    <h6>Premio 2</h6>
                    <h6>Premio 3</h6>
                </div>
            </div>
        </div>
    </div>
    <div class=" container center align">
        <br>
        <br>
        <div class="row">
            <div class="col s6">
                <a href="inscripcion_torneo.php" class="waves-effect waves-light btn" id="boton_registro">Registrar al torneo</a>
            </div>
            <div class="col s6">
                <a href="informacion-usuario.php"class="waves-effect waves-light btn" id="boton_registro">Consultar mis registros</a>
            </div>

        </div>
    
    </div>
        <br>
        <br>
