
        <a href="index.php" class="brand-logo center">Registro Patrocinador</a>
    </div>
  </nav>
  <br>
  <br>

    <div class="container" id="formaPatrocinador">
        <div class="row">
         <div class="col s12">
            <h5>Nombre de Contacto*</h5>
            <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Emilio" id="nombre_contacto" type="text" class="validate" minlength="2">
                <span class="helper-text" data-error="Informacion muy corta"></span>
            </div>
            <h5>Nombre de la empresa que representa*</h5>
            <div class="input-field">
                <i class="material-icons prefix">domain</i>
                <input placeholder="EmpresaA" id="empresa_nombre" type="text" class="validate" minlength="2">
                <span class="helper-text" data-error="Informacion muy corta"></span>
            </div>
            <h5>Descripción de la empresa*</h5>
            <div class="input-field">
                <i class="material-icons prefix">description</i>
                <input placeholder="EmpresaA" id="descripcion_empresa" type="text" class="validate" minlength="2">
                <span class="helper-text" data-error="Informacion muy corta"></span>
            </div>
            <h5>Correo de contacto*</h5>
            <div class="input-field">
                <i class="material-icons prefix">contact_mail</i>
                <input placeholder="EmpresaA@gmail.com" id="empresa_correo" type="email" class="validate" minlength="6">
                <span class="helper-text" data-error="Informacion muy corta"></span>
            </div>
            <h5>Teléfono de contacto*</h5>
            <div class="input-field ">
                <i class="material-icons prefix">contact_phone</i>
                <input placeholder="442-222-2222" id="empresa_telefono" type="text" class="validate" minlength="10" maxlength="10">
                <span class="helper-text" data-error="Numero muy corto, debe contener 10 dígitos"></span>
            </div>
            <h5>Razón de patrocinio*</h5>
            <div class="input-field">
                <i class="material-icons prefix">border_color</i>
                <input id="razon_patrocinio" type="text" class="validate" minlength="2">
                <span class="helper-text" data-error="Informacion muy corta"></span>
            </div>
         </div>
        </div>  
        <div class="row" style="display: block;">
          <div class="col s12" align="center" id="encabezadoMensajePatrocinador" style="color: #ff4d4d" >
          </div>
        </div>
        <div class="center-align">
            <button id="boton_Registrar_Patro" class="btn waves-effect waves-light btn-large pink">Registrar Datos
                <i class="material-icons right">save</i>
            </button>
            <br>
            <br>
        </div>
    </div>

  <div class="container center-align" id="circuloCarga_RegPatro" style="display: none;">
    <br>
    <br>
    <br>
    <br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
         <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
  </div>


     <div class="container"  id="mensajePatrocinador" style="display: none;">
      <div class="row">
        <div class="col s12" align="center">
          <div>
          <h3 align="center" id="tituloPatrocinador">Se registró exitosamente al organizador</h3>
          <i class="medium material-icons" id="iconoRespuestaPatrocinador">check_box</i>
          </div>
          <br>
          <br>
        </div>
        <div class="col s12" align="center">
          <a href="InterfazOrg.php" class="btn " id="botones">Regresar al menú  
            <i class="large material-icons right">keyboard_return</i>
          </a>
          <br>
          <br>
        </div>
      </div>
    </div>