
        <a href="index.php" class="brand-logo center" >Revisar Patrocinios</a>
        </div>
      </div>
    </nav>
    <div class="container" id="SelectRP">
      <div class="row">
        <h3 align="center">Buscar Registros</h3>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i> 
          <select name="patrocinios" id="patrocinios">
            <option value="NA" disabled selected>Selecciona una opción</option>
            <option value="1" >Pendientes</option>
            <option value="2" >Aceptados</option>
            <option value="3" >Rechazados</option>
          </select>
          <label>Selecciona el estatus de los patrocinios que te interesa buscar</label>
          <br>
          <br>
      </div>
      <div class="input-field col s12">
          <i class="material-icons prefix">search</i> 
          <select name="orden" id="orden">
            <option value="NA" disabled selected>Selecciona una opción</option>
            <option value="1" >Más nuevos primero</option>
            <option value="2" >Más antiguos primero</option>
          </select>
          <label>Selecciona el orden en el que te interesa buscar</label>
      </div>
      <div class="row" style="display: block;">
          <div class="col s12" align="center" id="MRP" style="color: #ff4d4d" >
          </div>
      </div>
      <div class="row center">
              <button id="botonRP" class="btn waves-effect waves-light btn-large pink">Buscar
                <i class="material-icons right">search</i>
              </button>
      </div>
      <br>
      <div class="row center">
          <a href="InterfazOrg.php" class="btn-large pink" id="botones">Regresar al menú
            <i class="material-icons right">keyboard_return</i>
          </a>
      </div>
    </div>

    <div class="container" id="Casos" style="display: none;">
     <br>
      <br>
         <div class="row">
            <h3 align="center">Patrocinadores</h3>
         </div>
         <div class="input-field col s12" id="Consulta">
        
         </div>
    </div>

    <div class="container" id="RegresarBuscar" style="display: none;">
      <br>
      <br>
      <div class="row center">
        <button id="regresar" class="btn waves-effect waves-light btn-large pink">Regresar
          <i class="material-icons right">keyboard_return</i>
        </button>
      </div>
    </div>

        <div class="container" >
      <br>
      <br>
          <div class="row" id="Mensaje">
            <h3 align="center"></h3>
          </div>
    </div>