
<h4>Esta es una página creada y pensada en la seguridad de las personas</h4>
<br>
<p>Da click en el botón para ver las consultas</p>

<a class="btn-floating btn-large waves-effect waves-light yellow darken-3" href="buscador.php"><i class="material-icons">search</i></a>