</div>
<br>
<br>
<br>
	<footer class="yellow darken-1 page-footer black-text">
        <div class="container">
            <p>Emilio Aguilera Carlín - A01351355</p>
            <p >Powered by <a href="http://materializecss.com/" target="_blank" class="black-text text-lighten-4">Materialize</a>.</p>
        </div>
        <div class="footer-copyright">
            <div class="container black-text">
                © 2020 Escuela de Ingeniería y Ciencias - Tecnológico de Monterrey en Querétaro.
            </div>
        </div>
    </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
	    M.AutoInit();
	</script>
	<script src="ajax.js"></script>
	</body>

</html>