<?=crear_select("id", "nombre", "tipo");?>
    <?=crear_select("id", "nombre", "lugar");?>
       <button id="buscar" class="waves-effect waves-light btn">Buscar</button>
       <br>
       <br>
<a class="btn btn-large waves-effect waves-light red" href="controlador_borrar.php"><i class="material-icons">delete</i></a>
<br>
<br>