        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <?php if(isset($_SESSION['usuario'])): ?>
            <?php if($_SESSION['usuario']['nombreRol']=="organizador"):?>
              <li><a href="Vistas/InterfazOrg.php">Menu</a></li>
            <?php endif; ?>

            <?php if($_SESSION['usuario']['nombreRol']=="participante"):?>
              <li><a href="Vistas/pagina-principal.php">Tu información</a></li>
            <?php endif; ?>
          <?php endif; ?>
        </ul>
          
        </div>
      </div>
    </nav>
    
    <section>
      <div class="parallax-container">
        <div class="parallax">
          <img src="src/img/golf.jpg">
        </div>
        <div class="boton_registro">
          <div class="center">
            <a href="Vistas/InterfazLogin.php" class="waves-effect waves-light btn-large" id="boton_registro">Inicar Sesión</a>
          </div>
        </div>
        <div class="titulo_torneo">
          <h1 >Torneo de Golf</h1>
          <h3>Casa Maria Goretti</h3>
          <diV class="info_torneo">
            <?php echo datosTorneoInicio();?>
          </diV>
        </div>
        <div class="diagonal">
            <img src="src/img/fondoblanco.png" >
        </div>
      </div>
      <a href="http://www.hogaresfaustinollamas.org/cmg/"><img class="logo_mariaGoretti" src="src/img/Logo_MariaGoretti.png"></a>
      <br>
      <article class="wrap-InfoTorneo z-depth-2">
        <div class="row">
          <div class="col s9">
            <div>
              <?php echo PremiosInicio();?>
            </div>
          </div>
          <div class="col s3 ">
            <div><img class="z-depth-5" id="poster_oficial"  src="src/uploads/<?=idT()?>/<?=consulta_posterTorneo()?>"></div>
          </div>
        </div>
      </article>
      <article class="wrap-RegistroTorneo">
        <h2 class="header center-align">Registro al Torneo</h2>
        <div class="row">
          <div class=" col s6">
              <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
          <div class=" col s6">
            <h5>Guía para registro al torneo</h5>
            <p>Observa el siguiente tutorial para saber como inscribirte al torneo siguiendo los siguientes pasos:</p>
            <ol>
              <li>Inicia sesión en la pagina, si aun no tienes cuante registrate con un nombre de usuario, contraseña y correo electronico.</li>
              <li>Registra tus datos personales tales como nombre completo, numero de contacto, edad etc.</li>
              <li>Posteriormente selecciona el boton para registrarte al torneo y rellena la información que se pide.</li>
              <li>Realiza tu pago con la forma que hayas escogido</li>
              <li>Espera tu confirmación al toreno que te llegara al medio de comunicación que hayas escogido.</li>
            </ol>
            <br>
            <div class="center-align">
              <a href="Vistas/inscripcion_torneo.php" class="waves-effect waves-light btn-large" id="boton_registro">Registrarse</a>
            </div>
            </div>
          </div>
        </div>
      </article>
      <article>
      <div class="section white">
        <div class="galeria">
          <div class="imagen"><img src="src/img/golf_1.jpg" alt=""></div>
          <div class="imagen"><img src="src/img/golf_2.jpg" alt=""></div>
          <div class="imagen"><img src="src/img/golf_3.jpg" alt=""></div>
          <div class="imagen"><img src="src/img/golf_4.jpg" alt=""></div>
          <div class="imagen"><img src="src/img/golf_5.jpg" alt=""></div>
          <div class="imagen"><img src="src/img/golf_6.jpg" alt=""></div>

        </div>
      </div>
    </article>
    <article class="wrap-PatrocinadorTorneo z-depth-2">
    <div class="row">
        <div class="col s7 push-s5">
          <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
            <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
            <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
            <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
            <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
          </div>
      </div>
      <div class="col s5 pull-s7">
        <div class="center">
          <h2>Patrocinadores</h2>
          <div class="card horizontal">
            <div class="card-image">
              <img src="src/img/Logo_MariaGoretti.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h6>¿Quisieras patrocinar este evento?</h6>
                <p>Presiona el siguiente boton y registra tus datos, posteriormente un organizador se comunicara contigo.</p>
              </div>
              <div class="card-action">
                <a href="Vistas/registro-patrocinador.php">QUIERO PATROCINAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </article>
    </section>
   
    
