body:after {
  content: "EMS"; 
  font-family: Courier New;
  font-size: 15em;  
  color: rgba(52, 166, 214, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hey:hover {
  color: blue;
  width: 400px;
  height: 100px;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {font-size: 40px;}
}

.title:hover{
  color: green;
  font-size: 80px
}

.instrucciones:hover{
  font-style: italic;
  color: red;
  font-size: 30px
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

